@{
    ViewData["Title"] = "GetInvoices";
}

@model List<GetInvoiceVM>


<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Fees Collection</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="example4" class="display dataTable no-footer" style="min-width: 845px" role="grid" aria-describedby="example4_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1" colspan="1" style="width: 152.363px;">Apartman Blok Numarası</th>
                            <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1" colspan="1" style="width: 135.775px;">Apartman Kapı Numarası</th>
                            <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1" colspan="1"  style="width: 90.625px;">Toplam Fiyat</th>
                            <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1" colspan="1"  style="width: 123.762px;">Ödendi mi?</th>
                            <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1" colspan="1"  style="width: 81.4px;">Detay</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var invoice in Model)
                        {
                            <tr role="row" class="odd">
                                <td>@invoice.Apartment.BlockNumber</td>
                                <td>@invoice.Apartment.ApartmentNumber</td>
                                <td>₺@invoice.Price</td>
                                @if (@invoice.Payment)
                                {
                                    <td><span class="badge badge-success">Ödendi</span></td>
                                }
                                else
                                {
                                    <td><span class="badge badge-danger">Ödenmedi</span></td>
                                }
                                <td>
                                    <a asp-controller="Home" asp-action="GetInvoice" asp-route-invoiceId="@invoice.Id"><span class="badge badge-warning">Detay</span></a>
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
